.features{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2B076E;
    text-align: center;

    h2{
        padding-bottom: 2rem ;
        color: white;
        //font-size: 2rem;

    }


}

.invest-smart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    &__description{
        padding-bottom: 4rem;
        

        @include breakpoint-up(large){
            padding-right: 4rem;
        }

        .main__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 700; 
            font-size: 2rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 1rem;
            }
        }

        .sub__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 500; 
            opacity: 0.8;
            font-size: 1rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 0.7rem;
            }
        }

        
    }

    img{
        height: auto;
        max-width: 50%;

        @include breakpoint-down(medium){
            max-width: 80vw;
        }
    }

    @include breakpoint-down(medium){
        flex-direction: column;
    }
    

}

.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    &__description{
        padding-bottom: 4rem;
        padding-top: 4rem;

        @include breakpoint-up (large){
            padding: 4rem;
        }

        .main__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 700; 
            font-size: 2rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 1rem;
            }
        }

        .sub__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 500; 
            opacity: 0.8;
            font-size: 1rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 0.7rem;
            
            }
        }
        
    }

    img{
        height: auto;
        max-width: 50%;

        @include breakpoint-down(medium){
            max-width: 80vw;
        }
    }

    @include breakpoint-down(medium){
        flex-direction: column;
    }

}

.grow-profit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    &__description{
        padding-bottom: 4rem;
        

        @include breakpoint-up(large){
            padding-right: 4rem;
        }
        .main__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 700; 
            font-size: 2rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 1rem;
            }
        }

        .sub__text{
            font-family: 'Rubik', sans-serif;
            font-weight: 500; 
            opacity: 0.8;
            font-size: 1rem;
            margin-bottom: 1rem;

            @include breakpoint-down(medium){
                font-size: 0.7rem;
            
            }
        }

    }

    img{
        height: auto;
        max-width: 50%;

        @include breakpoint-down(medium){
            max-width: 80vw;
        }
    }

    @include breakpoint-down(medium){
        flex-direction: column;

        h2{
            font-size: 1.3rem;
        }
    }

}


