*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D0D2B;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 100vw;
    padding: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;

    @include breakpoint-up(large){
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @include breakpoint-down(medium){
        padding-left: 10%;
        padding-right: 10%;
    }
}

.button{
    border: none;
    outline: none;
    padding: .6rem 0.8rem;
    background-color: #3671e9;
    border-radius: 20px;
    color: white;
  }


  .background-white{    
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #FBFCFE;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .background-gradient{
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #FBFCFE;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#2B076E, #0D0D2B);
  }

