.hmt-earn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#E0E0E0;
    text-align: center;


    h2{
        font-family: 'Rubik', sans-serif;
        font-weight: 700; 
        color: white;
        padding-bottom: 2rem;
        font-size: 2rem;
    }
}